body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 550px;
    margin: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.349);
}

footer {
    color: rgba(255, 255, 255, 0.719);
    font-style: italic;
    text-align: center;
}